<div class="card-columns">
  <div class="card col-md-12">
  <img src="../../assets/imgs/LED.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">LED</h5>
    <button type="button" class="btn btn-primary" (click)="ledon()">开</button>
    <button type="button" class="btn btn-dark" (click)="ledoff()">关</button>

  </div>
</div>

<div class="card col-md-12">
  <img src="../../assets/imgs/窗户.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">窗户</h5>
    <div>
      <button type="button" class="btn btn-primary" (click)="fanon()">开</button>
      
      <button type="button" class="btn btn-dark" (click)="fanoff()">关</button>
    
  </div>
</div>
</div>

<div class="card col-md-12">
  <img src="../../assets/imgs/空调.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">制冷器</h5>
    <div>
      <button type="button" class="btn btn-primary" (click)="acon()">开</button>
      <button type="button" class="btn btn-dark" (click)="acoff()">关</button>
  
    </div>
    
</div>
</div>

<div class="card col-md-12">
  <img src="../../assets/imgs/暖气.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">加热器</h5>
    <div>
      <button type="button" class="btn btn-primary" (click)="Furnaceon()">开</button>
      <button type="button" class="btn btn-dark" (click)="Furnaceoff()">关</button>
  
    </div>
    
</div>
</div>

<div class="card col-md-12">
  <img src="../../assets/imgs/加湿器.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">加湿器</h5>
    <div>
      <button type="button" class="btn btn-primary" (click)="Humidifieron()">开</button>
      <button type="button" class="btn btn-dark" (click)="Humidifieroff()">关</button>
  
    </div>
    
</div>
</div>
</div>
