<div class="card-columns">
    <div class="card col-md-12">
    <img src="../../assets/imgs/LED.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">LED</h5>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="LED()">
  设备详情
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">设备详情</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">设备id</th>
          <th scope="col">设备名称</th>
          <th scope="col">设备信息</th>
          <th scope="col">操作状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of users$ | async; '>
          <th scope="row">{{user.id}}</th>
          <td>{{user.type}}</td>
          <td>{{user.value}}</td>
          <td>{{user.q}}</td>
        <td>
        </td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

  <div class="card col-md-12">
    <img src="../../assets/imgs/窗户.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">窗户</h5>
    
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="FAN()">
  设备详情
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">设备详情</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">设备id</th>
          <th scope="col">设备名称</th>
          <th scope="col">设备信息</th>
          <th scope="col">操作状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of users$ | async; '>
          <th scope="row">{{user.id}}</th>
          <td>{{user.type}}</td>
          <td>{{user.value}}</td>
          <td>{{user.q}}</td>
        <td>
        </td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

  <div class="card col-md-12">
    <img src="../../assets/imgs/空调.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">空调</h5>
     
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="AC()">
  设备详情
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">设备详情</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">设备id</th>
          <th scope="col">设备名称</th>
          <th scope="col">设备信息</th>
          <th scope="col">操作状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of users$ | async; '>
          <th scope="row">{{user.id}}</th>
          <td>{{user.type}}</td>
          <td>{{user.value}}</td>
          <td>{{user.q}}</td>
        <td>
        </td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

  <div class="card col-md-12">
    <img src="../../assets/imgs/暖气.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">加热器</h5>
     
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="Furnace()">
  设备详情
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">设备详情</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">设备id</th>
          <th scope="col">设备名称</th>
          <th scope="col">设备信息</th>
          <th scope="col">操作状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of users$ | async; '>
          <th scope="row">{{user.id}}</th>
          <td>{{user.type}}</td>
          <td>{{user.value}}</td>
          <td>{{user.q}}</td>
        <td>
        </td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

  <div class="card col-md-12">
    <img src="../../assets/imgs/加湿器.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">加湿器</h5>
      
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="Humidifier()">
  设备详情
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">设备详情</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">设备id</th>
          <th scope="col">设备名称</th>
          <th scope="col">设备信息</th>
          <th scope="col">操作状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of users$ | async; '>
          <th scope="row">{{user.id}}</th>
          <td>{{user.type}}</td>
          <td>{{user.value}}</td>
          <td>{{user.q}}</td>
        <td>
        </td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
