<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">用户id</th>
        <th scope="col">姓名</th>
        <th scope="col">密码</th>
        <th scope="col">删除</th>
        <th scope="col">修改密码</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users$ | async; '>
        <th scope="row">{{user.id}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.password}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete(user)">删除</button>
        </td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"
            (click)="select(user)">修改</button>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">修改密码界面</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="myForm">
                    <div class="form-group">
                      <label for="id">用户id</label>
                      <input type="text" class="form-control" id="id" name="id" [formControl]='id'>
                    </div>
                    <div class="form-group">
                      <label for="userName">用户名</label>
                      <input type="text" class="form-control" id="userName" name="userName" [formControl]='userName'>
                    </div>
                    <div class="form-group">
                      <label for="password">密码</label>
                      <input type="password" class="form-control" id="password" name="password" [formControl]='password'>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" (click)="update()">应用</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>